<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userID</key>
	<integer>0</integer>
	<key>firstname</key>
	<string>null</string>
	<key>lastname</key>
	<string>null</string>
	<key>email</key>
	<string>null</string>
	<key>bestFriends</key>
	<array>
		<integer>0</integer>
	</array>
</dict>
</plist>
